{{ $ := .root }} {{ $page := .page }}

<div class="row">
  <!-- Experience widget -->
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}
    <p>{{ . | markdownify }}</p>
    {{ end }} {{ with $page.Content }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
  </div>
  <div class="col-lg-6">
    <p class="lead">
      Klaus Brinch (44), ergoterapeut og webudvikler.
    </p>

    <p>
      Jeg er uddannet ergoterapeut fra 2014 og har arbejdet indenfor neurorehabilitering og på plejehjem.
      Derudover har jeg beskæftiget mig med IT og internettet i 15 år. Jeg arbejder på Seniorcenter Rosenlunden i Gladsaxe kommune, hvor jeg også bor.
      <p>Min motivationen for dette projekt er interesse for udviklingsarbejde, ergoterapifaget, samt
      ønsket om at udbrede viden og erfaring om aktivitetslivet på vores
      plejehjem.</p>
      <p>Til dette projekt, samarbejder jeg med en erfaren projektleder fra Gladsaxe kommune.</p>
    </p>
    
    
  </div>
  {{ if $page.Params.experience }} {{ $exp_len := len $page.Params.experience }}
  {{ range $idx, $key := sort $page.Params.experience ".date_start" "desc" }}
  <div class="col-md-6 col-lg-4 mb-4"></div>
  {{end}} {{end}}
</div>
